*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px. This defined what 1rem is */
    @include respond(tab-land) {
        //width less than 900?
        font-size: 56.25%; //1rem = 9px, 9/16=56.25%
    }
    @include respond(tab-port) {
        //width less than 600?
        font-size: 50%; //1rem = 8px, 8/16=50%
    }
    /* @include respond(phone) {
        //width less than 600?
        font-size: 30%; //1rem = 4.8px, 4.8/16=30%
    } */
    @include respond(big-desktop) {
        //width less than 1200?
        font-size: 75%; //1rem = 12px, 12/16=56.25%
    }
}

body {
    padding: 3rem;
    box-sizing: border-box;
    /* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not. */
    @include respond(tab-port) {
        padding: 0;
    }
}