//COLOR
$color-contrast: #D8BFD8;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: rgba(#7f7f7f, 0.1);
$color-grey-light-2: #eee;
$color-white:#fff;
$color-black: #000;
//tour feature colors
$color-primary-light-least: #9775AA;
$color-primary-light: #764B8E;
$color-primary: #582A72;
$color-primary-dark: #3D1255;
$color-primary-dark-most: #260339;
$color-tertiary-light: #AA8F00;
$color-tertiary-dark: #b8860b;
$color-secondary-light: #D46A43;
$color-secondary-dark: #D46A43;
//FONT
$default-font-size: 1.6rem;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;